*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s linear;
}

.form{
    height: 400px;
    width: 300px;
    align-items: center;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    padding-top: 8rem;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
}

.form label{
    color: white;
}

.text{
    outline: none;
    border: none;
    height: 20px;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9) inset;
    font-size: 14px;
    padding: 0 10px;
    margin: 10px 0;
    letter-spacing: 1px;
}

#usuario{
    margin-left: 2rem;
}

.icono{
    margin-left: 24%;
    margin-top: -15rem;
    position: absolute;
    width: 100px;
    height: 100px;
}

#password{
    margin-left: .3rem;
}

.boton{
    display: flex;
    position: absolute;
    height: 30px;
    width: 30%;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 6px;
}

.boton{
    margin-left: 10px;
    padding-left: 1.3rem;
}

.boton[type="button"]{
    margin-left: 40%;
    padding-left: .7rem;
}

.boton:hover{
    background: rgba(24,69,160,0.2);
    border:solid 1px;
    border-color: #1AF8EE;
    box-shadow: 0 0 35px var(--clr);
}

.login{
    margin-left: 70%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    border-color: black;
    background-image: url(../img/backgrad.png);
    background-size: cover;
    background-position: center;
}

img{
    height: 100%;
    width: 100%;
}

.contenido{
    margin-right: 30%;
    position: absolute;
    height: 100vh;
    display: flex;
}

.carrusel{
    position: relative;
}


